* {
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;

}
body{
    font-size: 13px;
    line-height: 20px;
    color: black;
    background-color: #ffffff;
    overflow-x: hidden;
    max-width: 100%;
    font-weight: 400;

}
/*----------------------------main------------------------*/
/*---------------------------header-----------------------*/
/*--------------------phần top header-------------------*/
.top-header{
    background-color: #000000;
    width: 100%;
    height: 50px;
    color: white;
}
.left-topheader{
    float: left;
    width: 50%;
    height: 100%;
    text-align: center;
    font-style: normal;
}
.left-topheader p {
    font-size: 13px;
    padding-top:14px;
    width: 100%;
    height: 50%;
    font-family: 'Xanh Mono', monospace;
}
.right-topheader{
    float: right;
    width: 50%;
    height: 100%;
    text-align: center;
    font-style: normal;
}
.div-loginheader,.div-cartheader,.div-logoheader{
    float: left;
}
.div-loginheader{
    margin-left: 50px;
    width: 140px;
    height: 100%;
    border-right: 1px solid #999999;
}
.div-loginheader p {
    font-size: 13px;
    padding-top:15px;
}
.div-cartheader{
    /*margin-left: 5px;*/
    width: 100px;
    height: 100%;
    border-right: 1px solid #999999;
}
.div-cartheader p{
    font-size: 13px;
    font-family: 'Xanh Mono', monospace;
}
.div-logoheader{
    width: 270px;
    height: 100%;
}
.div-logoheader i{
    font-size: 13px;
    padding-top:20px;
}
/*   menu account   */
.nav-account1 button{
    cursor: pointer;
    font-family: 'Xanh Mono', monospace;
    font-size: 14px;
    margin-top: 1px;
    width: 100px;
    height: 49px;
    background: unset !important;
    border: unset !important;
    outline: unset !important;
    color: white;
}
.nav-account1 button:hover{
    color: #5bbb46;
}
#menu-child-account{
    transition: 1s;
    display: none;
    position: absolute;
    background-color: white;
    top: 50px;
    right: 485px;
    height: 120px;
    width: 240px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
#menu-child-account a{
    text-decoration: none;
}
#menu-child-account li{
    position: relative;
}
.child-account1{
    padding-top: 3px;
    background-color: white;
    width:240px;
    height: 40px;
    border: 1px solid #999999;
}
.child-account1:hover{
    background-color: #5bbb46;
    cursor: pointer;
}
.child-account1 a{
    color: black;
    position: relative;
    top: 6px;
    /*width: 100px;*/
    /*height: 40px;*/
    text-align: center;
}
.child-account2{
    padding-top: 3px;
    width:240px;
    height: 40px;
    border: 1px solid #999999;
}
.child-account2:hover{
    background-color: #5bbb46;
    cursor: pointer;
}
.child-account2 a{
    color: black;
    position: relative;
    top: 6px;
    /*width: 100px;*/
    /*height: 40px;*/
    text-align: center;
}
.menu2-child-account{
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: black;
    width: 240px;
    height: 40px;
}
.child-account3{
    margin-top: 4px;
    margin-left: 20px;
    width:100px;
    height: 30px;
    font-size: 12px;
    padding-top: 7px;
}
.child-account3 a{
    color: white;
}
.child-account4{
    padding-top: 3px;
    cursor: pointer;
    margin-top: 5px;
    color: white;
    width:100px;
    height: 30px;
    border: 1px solid white;
    border-radius: 20px;
}
.child-account4:hover{
    background-color: #5bbb46;
}
.child-account4 a{
    color: white;
}

.child-account3,.child-account4{
    float: left;
}
/*close menu account */

/*    menu cart    */
.nav-cart1 button{
    font-size: 14px;
    margin-top: 1px;
    width: 100px;
    height: 49px;
    font-family: 'Xanh Mono', monospace;
    background: unset !important;
    border: unset !important;
    outline: unset !important;
    color: white;
}
.nav-cart1 button:hover{
    color: #5bbb46;
}
#menu-child-cart{
    transition: 1s;
    display: none;
    position: absolute;
    background-color: white;
    top: 50px;
    right: 384px;
    width: 200px;
    height: 140px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
#menu-child-cart li{
    position: relative;
}
#menu-child-cart a{
    text-decoration: none;
}
.child-cart1{
    height: 50px;
    width: 200px;
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
    border-bottom: 1px solid #999999;
    border-top: 0;
}
.row1-cart1 ,.row2-cart1{
    float: left;
}
.row1-cart1{
    left: 5px;
    top: 5px;
    border: 1px solid #8f8686;
    position: relative;
    height: 40px;
    width: 40px;
}
.row1-cart1 img {
    width: 100%;
}
.row2-cart1{
    position: relative;
    width: 150px;
    height: 50px;
}
.row2-cart1 p{
    color: black;
    margin-top: 10px;
    width: 150px;
    font-size: 14px;
    margin-left: 4px;
}
.row1-cart2{
    left: 5px;
    top: 5px;
    border: 1px solid #8f8686;
    position: relative;
    height: 40px;
    width: 40px;
}
.row1-cart2 img {
    width: 100%;
}
.row2-cart1 ,.row2-cart2{
    float: left;
}
.row2-cart2{
    position: relative;
    width: 150px;
    height: 50px;
}
.row2-cart2 p{
    color: black;
    margin-top: 10px;
    width: 150px;
    font-size: 14px;
    margin-left: 4px;
}
.row1-cart2 ,.row2-cart2 {
    float: left;
}
.child-cart2{
    height: 50px;
    width: 200px;
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
    border-bottom: 1px solid #999999;
    border-top: 0;
}
.child-cart3{
    height: 40px;
    width: 200px;
    background-color: black;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.child-cart3 a{
    color: white;
}
.child-cart3 div{
    position: relative;
    width: 120px;
    height: 30px;
    top: 5px;
    left: 40px;
    padding-top: 4px;
    border-radius: 20px;
    border: 1px solid white;
}
.child-cart3 div:hover{
    background-color: #5bbb46;
}
/*   close menu cart */

/*----------------------header------------------------*/
.header{
    width: 100%;
    height: 100px;
    background: url("https://tse4.mm.bing.net/th?id=OIP._QHXaCCXKOEItfkbtGAzeQHaE9&pid=Api&P=0&w=245&h=164") no-repeat;
    background-size: 100%;
}
.sub-header{
    margin-right: 10%;
    float: right;
    width: 80%;
    height: 100px;
}
.ul-subheader a{
    color: black;
    text-decoration: none;
}
.ul-subheader li{
    text-align: center;
    font-family: 'Xanh Mono', monospace;
}
#li-header1,#li-header2,#li-header3,#li-header3-1,#li-header4-img{
    float: left;
}
#li-header7-i,#li-header5,#li-header5-1,#li-header6{
    float: left;
}
#li-header1,#li-header2,#li-header3,#li-header3-1,#li-header5,#li-header5-1{
    padding-top: 39px;
    width: 104px;
    height: 100px;
}
#li-header1 a:hover ,#li-header2 a:hover,#li-header3 a:hover ,#li-header3-1 a:hover ,#li-header5 a:hover ,#li-header5-1 a:hover ,#li-header6 a:hover {
    color: #06c706;
}
#li-header6{
    padding-top: 39px;
    width: 110px;
    height: 100px;
}
#li-header7-i {
    margin-left: 20px;
    margin-top: 35px;
    padding-top: 3px;
    width: 30px;
    height: 30px;
}
#li-header7-i:hover {
    background-color: lime;
    width: 30px;
    height: 30px;
    border-radius: 40px;
}
#li-header4-img{
    width: 247px;
    height: 100%;
}
#li-header4-img img{
    width:90%;
    padding-top: 5px;
}
/*    menu favorite    */
.btn-favorite{
    cursor: pointer;
    background: unset !important;
    border: unset !important;
    outline: unset !important;
    font-family: 'Xanh Mono', monospace;
    font-size: 15px;
}
.btn-favorite:hover{
    color: #5bbb46;
}
#menu-child-favorite{
    border-top: 1px solid #999999;
    transition: 1s;
    display: none;
    position: absolute;
    background-color: white;
    top: 120px;
    left: 230px;
    height: auto;
    width: 200px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.child-favorite1{
    position: relative;
    height: 50px;
    width: 200px;
}
/*    close favorite   */

/*------------------banner-------------------*/
.banner{
    background: url("https://4.bp.blogspot.com/-g57c62EJzyE/UdZfZ3sYVEI/AAAAAAAAX00/7_QL8Rf-GXU/s1600/simply-green-wallpaper.jpg");
    width: 100%;
    background-size: cover;
    height: 220px;
}
.sub-banner{
    padding-top: 20px;
    margin-left: 25%;
    width: 50%;
    height: 100%;
}
.sub-banner div{
    padding-top: 60px;
    width: 70%;
    height: 80%;
    margin-left: 15%;
    text-align: center;
}
.sub-banner h1{
    /*font: 28px "Arial ,sans-serif";*/
    font-size: 28px;
}
.sub-banner p {
    font-size: 17px;
}























main {
    height: 3910px;
    border-bottom: 2px solid lightgreen;
    background-color: #faf4f4;
}

.text-item1 {
    float: left;
    width: 375px;
    margin-left: 100px;
    height: 170px;
}

.text-item2 {
    float: left;
    width: 375px;
    margin-left: 30px;
    margin-right: 30px;
    height: 170px;


}
.text-item3 {
    float: left;
    width: 375px;
    height: 170px;


}
.about__intro{
    width: 100%;
    height: 400px;
}
.text-wrapper {

    width: 100%;
    height: 430px;

}


.text-item4 {
    float: left;
    margin-top: 10px;
    width: 375px;
    margin-left: 110px;
    height: 170px;


}
.text-item5 {
    float: left;
    margin-top: 10px;
    width: 375px;
    margin-left: 30px;
    margin-right: 30px;
    height: 170px;
}
.text-item6 {
    float: left;
    margin-top: 10px;
    width: 375px;
    height: 170px;


}
.img-content-wrapper {
    width: 100%;
    height: 190px;
}
.img-content-wrapper .desc{
    margin-left: 50px;
}
.img-bottom1 {
    /*margin-left: 50px;*/
    float: bottom;
    margin-top: 40px;
    width: 375px;
    height: 215px;

    background-color: #06c706;
}
.img-bottom2 {
    float: bottom;
    margin-top: 20px;
    width: 375px;
    height: 215px;

    background-color: #06c706;
}
.img-bottom3 {
    float: bottom;
    margin-top: 60px;
    width: 375px;

    height: 215px;
    background-color: #06c706;
}

.journey_main-container {

    width: 100%;
    height: 1400px;

}
.journey-list {

    width: 100%;
    height: 1400px;

}
.pic1 ,.line1,.word1{
    float: left;
}
.pic1 {
    margin-left: 210px;
    width: 400px;
    height: 250px;
}
.line1 {
    margin-left: 30px;
    margin-right: 30px;
    width: 3px;
    height: 250px;
    background-color: lightgreen;
}
.word1 {
    margin-top: 10px;
    width: 400px;
    height: 220px;
}
.pic2,.line2,.word2{
    margin-top: 30px;
    float: left;
}
.pic,.line2,.word2{
    float: left;
}
.pic2 {
    margin-left: 210px;
    width: 400px;
    height: 250px;
}
.sub-journey{
    width: 80%;
    height: 100%;
}
.line2 {
    margin-left: 30px;
    margin-right: 30px;
    width: 3px;
    height: 250px;
    background-color: lightgreen;
}
.word2 {
    margin-top: 40px;
    width: 400px;
    height: 220px;
}
.desc {
    color: grey;
}
.item-title {
    color: #585858;
}
.main-title {
    color: #585858;
}
.value_list {
    width: 100%;
    height: 350px;
}
.sub-value_list{
    width: 95%;
    height: 100%;
    margin-left: 50px;
}
.title{
    color: #585858;
}
.value_items1 {
    float: left;
    margin-top: 10px;
    margin-left: 20px;
    width: 220px;
    height: 200px;
}
.value_items2 {
    float: left;
    margin-top: 10px;
    margin-left: 30px;
    width: 220px;
    height: 200px;

}



.ceo_text {
    width: 100%;
    height: 350px;
    background: url("https://cdn8.dissolve.com/p/D1028_28_042/D1028_28_042_1200.jpg")  100%;
    background-size: cover;

}
.ceo {
    background-color: rgba(134, 229, 105, 0.6);
    width: 100%;
    height: 100%;
}
.text_ceo {
    font-size: 40px;
    line-height: 48px;
    padding-top: 100px;
    color: #fff;
    text-align: left;

}
.name_ceo {
    font-size: 30px;
    margin-left: 750px;
    margin-top: 25px;
    color: #fff;
}

.the_pic  {
    background: url("https://scontent.fhan2-4.fna.fbcdn.net/v/t1.15752-9/276169628_489143092943416_8072703947639298910_n.png?_nc_cat=100&ccb=1-5&_nc_sid=ae9488&_nc_ohc=0Oke2_Bx3JAAX8BOcdU&_nc_ht=scontent.fhan2-4.fna&oh=03_AVKB6KEc5s-K-9Qilb4yQs1JbrfjwQ3ZColakR2haVOyXg&oe=62755313") 100%;
    margin-top: 250px;
    width: 100%;
    height: 450px;
    background-size: cover;
}
.color_over {
    background-color: #06c706;
    width: 100%;
    height: 25px;
    position: absolute;
    top: 3385px;
}

/*------------------sec-logoslider--------------------*/
.top-sec-logoslider{
    padding-top: 20px;
    height: 50px;
    width: 100%;
    /*margin-top: 30px;*/
    background-color: #faf4f4;
}
.top-sec-logoslider h1{
    text-align: center;
    font: 400 36px/40px "Roboto Slab";
}
.sec-logoslider{
    width: 100%;
    height: 280px;
}
.logo-slider{
    width: 100%;
    height: 280px;
    background-color: #faf4f4;
}
.logo-item1,.logo-item2,.logo-item3{
    float: left;
    width: 250px;
}
.logo-item1{
    margin-left: 20px;
    margin-top: 37px;
    height: auto;
    width: 200px;
}
.vlueh2{
    text-align: center  ;
    font: 400 32px/40px "Roboto Slab";
}
.logo-item2{
    margin-left: 120px;
    margin-top: 46px;
    height: auto;
    width: 200px;
}
.logo-item3{
    margin-left: 120px;
    margin-top: 96px;
    height: auto;
    width: 300px;
}
.logo-item4{
    margin-right: 20px;
    float: right;
    margin-top: 82px;
    height: auto;
    width: 250px;
}
.logo{
    height: 100%;
    width: 100%;
}
.logo-item1 img,.logo-item2 img,.logo-item3 img,.logo-item4 img{
    width: 100%;
}
/* end slick */

/*------------------------------footer-------------------------------*/

footer {
    background-color: #a6a5a5;
    width: 100%;
    height: 340px;
}
.map-img{
    background-color: #d7666b;
    height: 130px;
    width: 200px;
}
#google{
    width: 100%;
    height: 100%;
}
#facebook{
    margin-left: 40px;
    margin-top: 10px;
}
.row-QA h1{
    text-align: center;
    border-bottom: 2px solid #999999;
    width: 285px;
}
#log-kt{
    text-align: center;
    height: 400px; /*800px*/
    width: 775px;  /*1200px*/
    position: relative;
    float: left;
}
.row-QA li{

    margin-left: 60px;
}
/* Reset */
ul {
    list-style: none;
}
body {
    color: #000;
    font-family: Helvetica,sans-serif;
    font-size: 15px;
    line-height: 1.8;
}
.clearfix {
    zoom: 1;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
/* Layout */
#footer {
    background-color: #1f1f1f;
    color: #999;
    padding: 20px 0 28px;
    align-content: center;
}
#footer .inner {
    margin: 0 auto;
    /*width: 1140px;*/
    transform: translateX(100px);
    display:flex;
}
#footer .inner h3 {
    color: #fff;
    margin-top: 3px;
    margin-bottom: 25px;
}
#footer .inner .about-us  {
    float: left;
    width: 360px;
}
#footer .inner .about-us1  {
    float: right;
    /*//width: 360px;*/
    margin-left: -120px;
}
#footer .inner .cp0  {
    float: right;
    width: 360px;
}
#footer .inner .about-us .logo {
    margin-bottom: 42px;
}
#footer .inner > div {
    float: left;
    margin-right: 30px;
}
#footer .inner > div:last-child {
    margin-right: 0;
}
#footer .inner .info-link,
#footer .inner .contact-detail {
    width: 260px;
}
#footer .inner .social {
    width: 165px;
}
#footer .inner ul.link-list li {
    border-bottom: 1px dashed #363636;
    font-size: 15px;
    margin-bottom: 11px;
    padding-bottom: 9px;
}
#footer .inner ul.link-list li:last-child {
    border-bottom: none;
    margin-bottom: 0;
}
#footer .inner ul.link-list li a {
    color: #999;
    text-decoration: none;
    transition: 0.3s color;
}
#footer .inner ul.link-list li a:hover {
    color: #fff;
}
#footer .inner ul.link-list li i {
    border-right: 1px dashed #363636;
    padding-right: 16px;
    margin-right: 14px;
    font-size: 14px;
}
#footer .inner ul.link-list li address {
    font-style: normal;
}
#footer.cp0 {
    float: right;
}
#footer._1EOzNN {
    font-size: .75rem;
    font-weight: 700;
    color: rgba(0,0,0,.54);
    margin-bottom: 1.25rem;
    margin-top: 2.5rem;
}
#footer._3Rf4Dh {
    text-transform: uppercase;
}
#footer._2cEKAG {
    width: 11.875rem;
}
#footer.S2L_LN {
    list-style-type: none;
    padding: 0;
    margin: 0 0 1.0625rem;
}
#footer.S2L_LN {
    display: flex;
}
#footer.lHnHFY {
    width: 3.4375rem;
    height: 1.8125rem;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    overflow: hidden;
}
#footer.footer-vn-visa-png {
    background-size: 1347.2727272727273% 983.3333333333334%;
    background-position: 84.6938775510204% 6.289308176100629%;
}
#footer.footer-vn-background {
    background-image: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/4bdefde….png);
}
#footer.style {
    width: 55px;
    height: 18px;
}

#navFooter.navLeftFooter div.navFooterLine {
    font-size: 12px;
}
#navFooter.navLeftFooter .navFooterCopyright {
    background-color: #131A22;
    max-width: 100%;
    margin: 0;
    padding: 10px 0 30px;
}
#navFooter.navLeftFooter .navFooterLinkLine {
    margin: 10px auto;
}
#navFooter.navLeftFooter .navFooterLogoLine, #navFooter.navLeftFooter .navFooterPadItemLine {
    text-align: center;
    max-width: 1000px;
    margin: 30px auto 15px;
}
div.navFooterLine {
    font-family: inherit;
    color: #DDD;
    font-size: 11px;
    text-align: center;
    line-height: 18px;
    white-space: nowrap;
}
.navFooterLinkLine {
    margin: 0 8px 0 8px;
}
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
div {
    display: block;
}
.a-ember body {
    font-family: "Amazon Ember",Arial,sans-serif;
}
body {
    color: #0F1111;
}
body {
    font-size: 14px;
    line-height: 20px;
    font-family: Arial,sans-serif;
}
